#about-me {}

#scratch {
    color: #F9AA37;
}

#scratch::after {
    background-color: #F9AA37;
}

#kw1c {
    color: #0E85C7;
}

#kw1c::after {
    background-color: #0E85C7;
}

#avans {
    color: #C70025;
}

#avans::after {
    background-color: #C70025;
}

#profile-picture {
    float: right;
    min-width: 9em;
    width: 60%;
}

#about-me-text {
    flex: 70%;
}