#scratch {
    color: #f9aa37;

    &::after {
        background-color: #f9aa37;
    }
}

#kw1c {
    color: #0e85c7;

    &::after {
        background-color: #0e85c7;
    }
}

#avans {
    color: #c70025;

    &::after {
        background-color: #c70025;
    }
}

#profile-picture {
    float: right;
    min-width: 9em;
    width: 60%;
}

#about-me-text {
    flex: 70%;
}

#tetris-iframe {
    border: 5px solid #000;
}
