#contact {
    position: relative;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

#contact-icon-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    display: flex;
    align-items: center;
    width: 5em;
    height: 5em;
}

.contact-link {
    display: block;
    transition: transform 200ms;

    &:focus,
    &:hover {
        transform: scale(1.1);
    }
}
