.experience-flex {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}

.experience-card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 10em;
    height: 10em;
    color: black;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    margin: 0.5em;

    > img {
        position: absolute;
        width: 10em;
        height: 10em;
    }

    &:hover .slide-box,
    &:focus .slide-box {
        transform: translate(-10%, -10%);
    }
}

.background-box {
    position: absolute;
    width: 10em;
    height: 10em;
    background-color: white;
}

.slide-box-container {
    position: absolute;
    width: 10.5em;
    height: 10.5em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.slide-box {
    position: absolute;
    width: 10.5em;
    height: 10.5em;
    z-index: 1;
    transform-origin: 0 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: transform 400ms;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: opacity 400ms, visibility 400ms;
    z-index: 2;

    &:target {
        visibility: visible;
        opacity: 1;
    }
}

.modal-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.modal-close-button {
    position: absolute;
    top: 1em;
    right: 1em;
}

.experience-close-icon {
    width: 1em;
    height: 1em;
}

.experience-infocard {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 85%;
    max-width: 40em;
    min-height: 13.5em;
    height: 75%;
    -webkit-box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    position: fixed;

    h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
        color: #666;
    }
}

#tetris-iframe-container {
    width: 20em;
    height: 20em;
}

#tetris-iframe {
    transform: scale(0.5);
    transform-origin: 0 0;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    width: 40em;
    height: 40em;
}

.experience-links-container {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    margin: 1em;
    height: 2em;
    justify-content: space-between;
}

.experience-icon {
    width: 2em;
    height: 2em;
    margin: 0 0.1em;
}

#fyn-software-link,
#fyn-software-logo {
    width: inherit;
}

#experience .container {
    height: calc(100% - 1.5em - 0.5em - 20px * 2 - 2em);
}

.experience-text-column {
    overflow: scroll;
}

#fyn-software-column {
    flex: 30%;
}

@media (pointer: coarse) {
    #tetris-demo-column {
        display: none;
    }
}
