body {
    background-color: #ffffff;
    margin: 0;
    font-family: Renogare-Regular;
    overflow-x: hidden;
}

@font-face {
    font-family: Renogare-Regular;
    src: url("../assets/fonts/Renogare-Regular.otf");
}

name {
    color: black;
    font-size: 7em;
    z-index: 99;
}

section {
    min-height: 100vh;
}

#title {
    display: grid;
    justify-content: center;
    align-content: center;
}

name {
    text-align: center;
    font-size: clamp(3rem, 6vw, 10rem);
}

.titleLetter {
    display: inline-block;
    font-family: Renogare-Regular;
}

.titleLetter.transition {
    transition: transform 1500ms linear;
}

.titleLetter.invisible {
    transform: translate(0, -100vh);
}

.titleLetter.flash {
    -webkit-text-stroke: black 1px;
    color: white;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;

    background-image: radial-gradient(#eee 10%, transparent 11%);
    background-size: 40px 40px;
    background-position: 20px 20px;
    background-repeat: repeat;
}

.noselect {
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
}