body {
    background-color: #ffffff;
    font-family: Renogare-Regular;
    overflow-x: hidden;
    margin: 0 5em;
}

@font-face {
    font-family: Renogare-Regular;
    src: url("../assets/fonts/Renogare-Regular.otf");
}

name {
    color: black;
    text-align: center;
    font-size: clamp(3rem, 6vw, 10rem);
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;

    background-image: radial-gradient(#eee 10%, transparent 11%);
    background-size: 40px 40px;
    background-position: 20px 20px;
    background-repeat: repeat;

    z-index: -99;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#title {
    display: grid;
    justify-content: center;
    align-content: center;
}

.titleLetter {
    display: inline-block;
    font-family: Renogare-Regular;
    transition: transform 1500ms linear;
    margin: 0;
}

.titleLetter.invisible {
    transform: translate(0, -100vh);
}

.titleLetter.flash {
    -webkit-text-stroke: black 1px;
    color: white;
}

#undertitle {
    opacity: 1;
    font-size: 0.8em;
    text-align: center;
    transition: opacity 0.5s;
}

#undertitle.invisible {
    opacity: 0;
}

.noselect {
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
}

.hovered.i-color {
    color: #009ad6;
}

.hovered.l-color {
    color: #e65c00;
}

.hovered.j-color {
    color: #213cc4;
}

.hovered.t-color {
    color: #b32388;
}

.hovered.s-color {
    color: #4fb224;
}

.hovered.z-color {
    color: #df0732;
}

.hovered.o-color {
    color: #e69e19;
}

a {
    text-decoration: none;
    display: inline-block;
}

a::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0.2em;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}

#scratch {
    color: #F9AA37
}

#scratch::after {
    background-color: #F9AA37
}

#kw1c {
    color: #0E85C7;
}

#kw1c::after {
    background-color: #0E85C7
}

#avans {
    color: #C70025;
}

#avans::after {
    background-color: #C70025
}

.container {
    display: flex;
    /* width: 70%; */
}

.column {
    width: 100%;
    height: 100%;
    flex: 50%;
}

#profielfoto {
    float: right;
    width: 80%;
}