html {
    scroll-behavior: smooth
}

body {
    background-color: #ffffff;
    font-family: Renogare-Regular;
    margin: 0 5%;
    overflow-x: hidden;
}

@font-face {
    font-family: Renogare-Regular;
    src: url("../assets/fonts/Renogare-Regular.otf");
}

#background {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: radial-gradient(#eee 10%, transparent 11%);
    background-size: 40px 40px;
    background-position: 20px 20px;
    background-repeat: repeat;

    z-index: -99;
}

section {
    min-height: 100vh;
    min-width: 100%;
    font-size: 1.5em;
}

h1 {
    display: inline-block;
}

.no-select {
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    user-select: none;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:not(.no-line)::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0.2em;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:focus {
    outline: none;
}

a:hover::after,
a:focus::after {
    transform: scaleX(1);
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    /* width: 70%; */
}

.column {
    width: 100%;
    height: 100%;
    flex: 50%;
    margin: 0 1em;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#noscript {
    position: fixed;
    text-align: center;
    padding: 1em;
    background-color: white;
    transform: translate(-50%);
    left: 50%;
    top: 1em;
    width: 75%;
    -webkit-box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    box-shadow: 10px 10px 40px -13px rgba(0, 0, 0, 0.61);
    transform: translate(0, -500%);
    animation: noscript-slide 500ms;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    z-index: 99;
}

@keyframes noscript-slide {
    from {
        transform: translate(-50%, -500%);
    }

    to {
        transform: translate(-50%);
    }
}

#links-container {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    margin: 1em;
    height: 2em;
    justify-content: space-between;
    padding: 0.25em;
    background-color: white;
    border-radius: 0.25em;
    -webkit-box-shadow: 0px 0px 58px -8px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 0px 58px -8px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0px 58px -8px rgba(0, 0, 0, 0.58);
}

.me-link-icon {
    width: 2em;
    height: 2em;
    margin: 0 0.1em;
}